menu "Configuration"

    config DEVICE_NAME
        string "BLE Device Name"
        default "HID Service Table Example"
        help
            Set the BLE device name used in advertisement of the BLE device.

endmenu
