menu "HID Service Table Example Configuration"

    config DEVICE_NAME
        string "BLE Device Name"
        default "HID Service Table Example Device"
        help
            Set the BLE device name used in advertisement of the BLE device.

    config MANUFACTURER_NAME
        string "BLE Manufacturer Name"
        default "Finger563 Corp."
        help
            Set the BLE device manufacturer name used in advertisement of the BLE device.

endmenu
